body {
    background-image: url('./imgs/bpLenoBG.png'), url('./imgs/bg1.png');
    background-position: center top, center center;
    background-size: 425px, cover;
    background-repeat:no-repeat, repeat;
    
    display: flex;
    flex-direction: column;
    align-items:center;

}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 32px;
}

head {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.container-top {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;

    background: rgba(72, 73, 97, 0.4);
    backdrop-filter: blur(47px);

    margin: 275px 0 16px 0;
    border-radius: 24px;
}

.perfil {
    display: flex;
    gap: 8px;
    align-items: center;
}

.img-perfil {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #B4A4A4;
}

.nome-igreja {
    display: flex;
    flex-direction: column;
}

.igreja {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.frase {
    display: flex;
    padding: 8px 16px;
    margin: 0px;

    color: #FFFFFF;
    background: #63657D;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.social-titulo {
    margin: 0;
    text-align: right;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0px;
    border-radius: 8px;
    text-decoration: none;
}

.link-instagram {
    color: #313131;
    background: #E4E4E4;
}

.link-facebook {
    color: white;
    background: #1877F2
}

.link-tiktok {
    color: white;
    background: #000000;
}

.link-youtube {
    color: white;
    background: #ff0000;
}

.container-messenger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-bottom: 16px;
}

.button-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    margin: 8px 0px;

}

.link-telegram {
    color: white;
    background: #2AABEE
}

.link-whatsapp {
    color: white;
    background: #25D366;
}

.container-pix {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    background-color: #32BCAD;
    margin: 8px 0;
}

.button-pix {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px 0px;
}

.pix-titulo {
    margin: 0;
    text-align: left;
}

.link-pix {
    color: white;
    background: #70D0C6;
    margin-top: 8px;
}

.copia-pix {
    display: flex;
    background-color: #C6ECE8;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
}

.container-culto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-top: 8px;
}

.link-horarios {
    color: #313131;
    background: #dedede;
}

.link-mapa {
    color: #313131;
    background-image: url(imgs/imgMap.png);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.icon-grow {
    padding: 8px;
    color: #B8B8B8;
    width: 40px;
}

.cr {
    color: #B8B8B8;
}
