body {
    background-image: url('imgs/bpLenoBG.png'), url('imgs/bg1.png');
    background-position: center top, center center;
    background-size: 375px, cover;
    background-repeat:no-repeat, repeat;
    
    display: flex;
    flex-direction: column;
    align-items:center;

    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin: 0;

    color: #FFFFFF;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin: 0;

    color: #306A64;

}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;

    background: rgba(72, 73, 97, 0.4);
    backdrop-filter: blur(47px);

    margin-top: 250px;
    border-radius: 24px;
    width: 275px;
}

.perfil {
    display: flex;
    gap: 8px;
}

.img-perfil {
    display: flex;
    width: 52.34px;
    height: 52.15px;

    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, 0.4);
}

.nome-igreja {
    display: flex;
    flex-direction: column;
}

.igreja {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.frase {
    display: flex;
    padding: 8px 16px;
    margin: 0px;

    color: #FFFFFF;
    background: #63657D;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.social-titulo {
    margin: 0;
    text-align: right;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0px;
    border-radius: 8px;
    text-decoration: none;
}

.link-instagram {
    color: #313131;
    background: #E4E4E4;
}

.link-facebook {
    color: white;
    background: #1877F2
}

.link-tiktok {
    color: white;
    background: #000000;
}

.link-youtube {
    color: white;
    background: #ff0000;
}

.container-messenger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.button-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    margin: 8px 0px;

}

.link-telegram {
    color: white;
    background: #2AABEE
}

.link-whatsapp {
    color: white;
    background: #25D366;
}

.container-pix {
    display: flex;
    flex-direction: column;
    width: 275px;
    border-radius: 8px;
    padding: 8px;
    background-color: #32BCAD;
    margin-top: 8px;
}

.button-pix {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px 0px;
}

.pix-titulo {
    margin: 0;
    text-align: left;
}

.link-pix {
    color: white;
    background: #70D0C6;
    margin-top: 8px;
}

.copia-pix {
    display: flex;
    background-color: #C6ECE8;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
}

.container-culto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-top: 8px;
}

.link-horarios {
    color: #313131;
    background: #dedede;
}

.link-mapa {
    color: #313131;
    background-image: url(imgs/imgMap.png);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.icon-grow {
    padding: 8px;
    color: #B8B8B8;
    width: 40px;
}

.cr {
    color: #B8B8B8;
}