/* .back-video {
    position: absolute;
    width: 425px;

} */


body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    
    background-image: url('./imgs/bpLenoBG.png'), url('./imgs/bg1.png');
    background-position: center top, center center;
    background-size: 425px, cover;
    background-repeat:no-repeat, repeat;
}

header {
    display: flex;
    justify-content: center;
}

main {display: flex;
    flex-direction: column;
    padding: 16px;
    width: auto;
    max-width: 400px;
}

.container-top {
    display: flex;
    justify-content: center;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;

    background: rgba(72, 73, 97, 0.7);
    backdrop-filter: blur(10px);

    margin: 275px 0 16px 0;
    border-radius: 24px;
}

.perfil {
    display: flex;
    gap: 8px;
    align-items: center;
}

.img-perfil {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #B4A4A4;
}

.nome-igreja {
    display: flex;
    flex-direction: column;
}

.igreja {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.frase {
    display: flex;
    padding: 8px 16px;
    margin: 0px;

    color: #FFFFFF;
    background: #63657D;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

.social-titulo {
    margin: 0;
    text-align: right;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0px;
    border-radius: 8px;
    text-decoration: none;
}

.link-instagram {
    color: #313131;
    background: #E4E4E4;
    transition: all 0.2s;
}

.link-instagram:hover {
    color: #000000;
    background: #cecece;
}

.link-instagram:active {
    color: #898989;
    background: #E4E4E4;
}

.link-facebook {
    transition: all 0.2s;
    color: white;
    background: #1877F2
}

.link-facebook:hover {
    color: white;
    background: #0064E4
}

.link-facebook:active {
    color: #0E4791;
    background: #1877F2
}

.link-tiktok {
    transition: all 0.2s;
    color: white;
    background: #000000;
}

.link-tiktok:hover {
    color: white;
    background: #111111;
}

.link-tiktok:active {
    color: #898989;
    background: #000000;
}

.link-youtube {
    color: white;
    background: #ff0000;
}

.link-youtube:hover {
    transition: all 0.2s;
    color: white;
    background: #E90000;
}

.link-youtube:active {
    color: #990201;
    background: #ff0000;
}

.container-messenger{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
    margin-bottom: 16px;
}

.button-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    margin: 8px 0px;
    cursor: pointer;

}


.button-contato {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    margin: 8px 0px;

}

.titulo-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.contato-telegram {
    color: white;
    background: #2AABEE
}

.contato-whatsapp {
    color: white;
    background: #25D366;
}


.container-pix {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    background-color: #32BCAD;
    margin: 8px 0;
}

.pix-titulo {
    margin: 0;
    text-align: left;
}

.caixa-chave {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 8px;
    gap: 8px;
    background-color: #70d0c6;
}

.titulo-pix-icon {
    display: flex;
    gap: 8px;
}

button {
  font-size: 25px;
  border-radius: 10px;
  border: none;
  padding: 20px;
}


input {
    width: 130px;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: #FFFFFF;
}

input:focus {
  outline: none;
}

#button-pix {
  display: flex;
  background-color: #C6ECE8;
  border-radius: 4px;
  padding: 12px 8px;
  text-align: center;
  cursor: pointer;
  width: 125px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #306A64;
}

#button-pix:hover {
  background-color:#32BCAD;
  color: #FFFFFF;
}

#button-pix:active {
    background-color:#32BCAD;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    color: #FFFFFF;
  }

.container-culto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-top: 8px;
}

.link-horarios {
    color: #313131;
    background: #dedede;
}

.button-culto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    margin: 8px 0px;
    cursor: pointer;

    background: rgba(189, 190, 208, 1);
}

.button-culto:hover {
    background: rgb(169, 170, 187);
}

.link-mapa {
    color: #313131;
    background-image: url(imgs/imgMap.png);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.icon-grow {
    padding: 8px;
    color: #B8B8B8;
    width: 40px;
}

.cr {
    color: #B8B8B8;
}

.popup {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
    margin: 32px;
    height: auto;
    border-radius: 32px;

    background: rgba(49, 50, 67, 0.8);
    backdrop-filter: blur(10px);
}

.open-popup {
    visibility:visible;
}


.iconclock-pop {
    color: #FFFFFF;
}

.tituloHorarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 250px;

    background: #2d2e3a;
    border-radius: 16px;
}

.reuniao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.linhaHorario {
    width: 275px;
    height: 2px;
    
    background: #2d2e3a;
}

.buttonFechar {
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 250px;
    margin-top: 8px;

    background: #e8e8e8;
    border-radius: 16PX;

    cursor: pointer;
}